<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error" internalLogFile="logs/nlog-internal.log">
    <targets>
        <target xsi:type="Null" name="null" />
        <target
                name="console"
                xsi:type="ColoredConsole"
                useDefaultRowHighlightingRules="false"
                layout="${time} ${pad:padding=5:inner=${level:uppercase=true}} [${logger:shortName=true}] ${message}
${onexception:${newline}EXCEPTION OCCURRED\:
${exception:format=type,message,method:maxInnerExceptionLevel=3:format=Message,Type,StackTrace:innerFormat=Message,Type,StackTrace}}">
            <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
        </target>
        <target
                name="fileTrace"
                xsi:type="File"
                fileName="logs/Trace.log"
                archiveFileName="logs/Old/Trace-${date:format=yyyy-MM-dd}.log"
                deleteOldFileOnStartup="false"
                archiveOldFileOnStartup="true"
                createDirs="true"
                archiveAboveSize="16777216"
                encoding="UTF-8"
                maxArchiveFiles="10"
                layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${pad:padding=6:fixedLength=true:${activityid}} [${logger}] ${message} ${onexception:EXCEPTION OCCURRED}" />
        <target
                name="fileError"
                xsi:type="File"
                fileName="logs/Error.log"
                archiveFileName="logs/Old/Error-${date:format=yyyy-MM-dd}.log"
                deleteOldFileOnStartup="false"
                archiveOldFileOnStartup="true"
                createDirs="true"
                archiveAboveSize="16777216"
                encoding="UTF-8"
                maxArchiveFiles="10"
                layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${pad:padding=4:fixedLength=true:${activityid}} [${logger}] ${message}${newline}
${onexception:EXCEPTION OCCURRED\:
${exception:format=type,message,method:maxInnerExceptionLevel=10:format=Message,Type,StackTrace:innerFormat=Message,Type,StackTrace}}" />
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="fileTrace" />
        <logger name="*" minlevel="Error" writeTo="fileError" />

        <logger name="VkNet.Utils.RestClient" maxlevel="Debug" writeTo="null" final="true" />
        <logger name="VkNet.VkApi" maxlevel="Trace" writeTo="null" final="true" />

        <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
</nlog>